@model List<EF_Code.Models.Yayinevleri>
@{
    ViewData["Title"] = "Yayın Evleri";
}
<h1>Yayın Evleri</h1>
<a asp-action="Create" class="btn btn-sm btn-primary mb-2">Yeni Yayın Evi Oluştur</a>
<table class="table table-sm table-dark w-75">
 <thead>
     <tr>
         <th>ID</th>
         <th>Ad</th>
         <th>Adres</th>
         <th>Tel</th>
     </tr>
 </thead>
 <tbody>
     @foreach (var yayinevi in Model)
     {
         <tr>
             
             <td>@yayinevi.Id</td>
             <td>@yayinevi.Ad</td>
             <td>@yayinevi.Adres</td>
             <td>@yayinevi.Tel</td>
             <td>
                 <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@yayinevi.Id">Detaylar</a>
                 <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@yayinevi.Id">Düzenle</a>
                 <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@yayinevi.Id">Sil</a>

             </td>
         </tr>
     }
 </tbody>
</table>